{% extends "layout.twig" %}

{% set title = "Dukt Videos Example Application" %}

{% block content %}
    <p>The following video services are available:</p>

    <ul>
        {% for service in services %}
            
            <li><a href="/services/{{ service.shortName }}">{{ service.name }}</a></li>

        {% endfor %}
    </ul>
{% endblock %}
