{% extends "layout.twig" %}

{% block top %}
    <p><br /><a href="../{{service.shortName}}">&laquo; {{service.name}}</a></p>
{% endblock %}

{% set title = service.name~": Collection Response" %}
{% block content %}



{% for key, row in response %}
    <pre>{{ dump(row) }}</pre>
{% endfor %}



{% endblock %}
